doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/nondynamic-res/insta-button.css')
    title Selfie Slider
  body
    .header
      h1.page-title Selfie Slider
    
    .main-content
      block content

    .footer
      p Copyright © 2017 Selfie Slider. Selfie Slider ® is a Registered Trademark.