extend default

block content
  p.
    Welcome To The Selfie Slider Demo Website. Please Login
  form.login-form(action='/authorize_user', method='get')
    div(style='text-align:center; margin-top:5em;')
      button.btn-instagram(type='submit')
        b Sign in
        |  with Instagram

